/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* Imports */

/* Root */
:root {
    /* Variables */
    --default-dark-background: black;
    --default-light-background: white;
    --default-dark-border: #616161;
    --default-dark-fill: #181818;

    /* Default styles */
    font-family: 'Goldman', sans-serif, Helvetica, Arial, sans-serif;
    background-color: var(--default-dark-background);
    color: white;
}
/* Root */

/* App */
.app {
    padding: 0 8px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    background-color: var(--default-dark-background);
    color: white;
    text-align-last: center;
}

.page-name {
    font-size: 48px;
    width: 200px;
    height: 60px;
    margin: 0;
}
/* App */

/* HomePage */
.home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-page-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
/* HomePage */

/* MainPageList */
.home-list-container {
    font-size: 20px;
    width: 500px;
    height: 845px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    padding-bottom: 5px solid var(--default-dark-background);
}

.home-list-top-part {
    width: auto;
    height: 40px;
    background-color: var(--default-dark-fill);
    border-bottom: 1px solid var(--default-dark-border);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-list-top-part > p {
    text-align: center;
}

.home-center-column {
    width: 200px;
}

.home-side-column {
    width: 150px;
}

.home-list {
    width: 500px;
    height: 780px;
    overflow-y: scroll;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-list::-webkit-scrollbar {
    display: none;
}
/* MainPageList */

/* MainPageListElement */
.home-list-element {
    width: 480px;
    height: 40px;
    border: 1px solid var(--default-dark-border);
    background: var(--default-dark-background);
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-list-element > p {
    text-align: center;
    flex: 0 0 auto;
}

.home-date {
    width: 140px;
}

.home-category {
    width: 190px;
}

.home-amount {
    width: 110px;
}

.home-currency {
    width: 40px;
}

.positive {
    color: #079E0D;
}

.negative {
    color: #C81D11;
}
/* MainPageListElement */

/* Logo */
.logo {
    font-family: 'Sarpanch', sans-serif;
    font-size: 70px;
    height: 80px;
    width: 180px;
    line-height: 75px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 0;
}

.user-name {
    padding-left: 5px;
    line-height: 20px;
    height: 32px;
    margin: 0;
    font-size: 32px;
    text-decoration-line: underline;
}
/* Logo */

/* Basics */
.basic-info-card {
    width: 425px;
    height: 60px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;

}

.basic-icon-holder {
    width: 60px;
    height: 60px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    background-color: var(--default-dark-fill);
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-text-holder {
    width: calc(100% - 140px);
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0%;
}

.basic-text-holder > p {
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.basic-main-text {
    font-size: 24px;
}

.basic-secondary-text {
    font-size: 14px;
}

.basic-info-card > img {
    width: 40px;
    padding: 0 10px 0;
}

.basics-div {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: 18px;
    width: 962px;
  }
/* Basics */

/* HomePageChart */
.home-chart-container {
    width: 962px;
    height: 605px;
    padding: 0;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    font-size: 20px;
}

.home-chart {
    height: 490px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.home-chart-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home-chart-legend-element {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-chart-legend-key {
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 5px;
}

.home-chart-legend-label {
    width: 200px;
    padding-left: 10px;
}

.home-chart-legend-value {
    text-align: end;
    width: 150px;
}

.home-chart-doughnut {
    width: 400px;
    height: 400px;
}

#home-page-select {
    width: 200px;
    height: 40px;
    font-size: 24px;
    border-right: 0px solid;
    border-top: 0px solid;
    border-radius: 0 20px 0 20px;
    border-color: var(--default-dark-border);
}

.home-chart-top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-bottom: 20px;
}

.home-chart-top > p {
    font-size: 32px;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}
/* HomePageChart */

/* HistoryPage */
.history-page-top {
    width: 1474px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-page-top > select {
    height: 60px;
    width: 200px;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    border-color: var(--default-dark-border);
    font-size: 24px;
}

.history-page-list-container {
    width: 1472px;
    height: 715px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px 0 0 0 ;
}

.history-page-list-top {
    width: calc(100%-70px);
    height: 60px;
    border-bottom: 1px solid var(--default-dark-border);
    font-size: 24px;
    padding: 0 60px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-dark-fill);
    border-radius: 20px 0 0 0;
}

.history-page-list-top > p {
    text-align: center;
}

.history-page-list-date {
    width: 182px;
}

.history-page-list-method, .history-page-list-category {
    width: 280px;
}

.history-page-list-description {
    width: 420px;
}

.history-page-list-amount-top {
    width: 240px;
}

.history-page-list-amount {
    width: 180px;
}

.history-page-list-currency {
    width: 60px;
}

.history-page-list-element {
    width: 1452px;
    height: 40px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-page-list-element > p {
    font-size: 24px;
    text-align: center;
    flex: 0 0 auto;
}

.history-page-list {
    height: 630px;
    width: 1472px;
    overflow-y: scroll;
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.history-page-list::-webkit-scrollbar {
    display: none;
}

.history-page-list-record-delete {
    width: 40px;
    height: 40px;
    background-color: var(--default-dark-background);
    border: 0px;
}
/* HistoryPage */

/* HistoryPageRecordAdd */
.history-page-record-add-form {
    width: 1462px;
    height: 60px;
    border-bottom: 1px solid var(--default-dark-border);
    border-left: 1px solid var(--default-dark-border);
    border-right: 1px solid var(--default-dark-border);
    padding-left: 10px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-page-record-add-form > .history-page-list-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-page-record-add-button {
    width: 50px;
    height: 50px;
    background-color: var(--default-dark-background);
    border: 0;
    border-radius: 10px;
}

.history-page-record-add-form > select, .history-page-record-add-form > input, #date {
    height: 95%;
    text-align: center;
    background-color: var(--default-dark-background);
    color: white;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: 0;
}
/* HistoryPageRecordAdd */

/* StatisticsPage */
.statistics-page {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: 18px;
}

.statistics-page-element {
    width: 724px;
    height: 380px;
    background-color: var(--default-dark-background);
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
}

.statistics-page-line-graph{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 330px;
}

.statistics-page-top {
    font-size: 24px;
    height: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics-page-top > select {
    height: 30px;
    width: 150px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top: 0;
    border-right: 0;
    border-radius: 0 20px 0 20px;
    border-color: var(--default-dark-border);
    font-size: 20px;
}

.statistics-page-doughnut-chart {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.statistics-page-doughnut-chart-doughnut {
    height: 300px;
    width: 300px;
}

.statistics-page-doughnut-chart-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.statistics-page-doughnut-chart-legend-key {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
}

.statistics-page-doughnut-chart-legend-element {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.statistics-page-doughnut-chart-legend-label {
    width: 160px;
    padding-left: 5px;
}

.statistics-page-doughnut-chart-legend-value {
    width: 120px;
    text-align: end;
}
/* StatisticsPage */

/* SideBar */
.side-bar {
    padding: 0;
    position: fixed;
    top: 80px;
    z-index: 4;
    width: 350px;
    height: calc(100% - 80px);
    background-color: var(--default-dark-background);
}

.side-bar-options {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.side-bar > button {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: white;
    border: 0;
    color: #C81D11;
    font-size: 20px;
    text-align: end;
}

.page-link {
    background-color: var(--default-dark-background);
    color: white;
    border: 0;
    text-align: start;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 40px;
}
/* SideBar */

/* SignUp */
.log-in-form {
    margin: 0;
    width: 500px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.log-in-input-name {
    margin: 0;
    margin-top: 30px;
    padding-left: 5px;
    width: 455px;
    font-size: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.log-in-validation {
    margin: 0;
    font-size: 10px;
    padding-left: 5px;
    width: 455px;
    flex: 0 0 auto;
}

.log-in-form > input {
    width: 460px;
    height: 30px;
    border: 1px solid var(--default-dark-border);
    border-radius: 5px;
    background-color: var(--default-dark-fill);
    color: white;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex: 0 0 auto;
}

.log-in-name {
    margin: 50px 0 0 0;
    font-size: 40px;
    width: 460px;
    height: 40px;
    flex: 0 0 auto;
}

.not-match {
    color: red;
}

.log-in-form > button {
    margin: 50px 0 50px 0;
    background-color: rgb(61, 61, 61);
    color: white;
    border: 1px solid var(--default-dark-border);
    border-radius: 5px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
}

.log-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.log-in-page > button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}
/* SignUp */

/* WalletPage */

.wallet {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    row-gap: 15%;
}

.card:first-child > div {
    padding-bottom: 20%;
}

.card:first-child > p {
    font-size: 40px;
}

.card:first-child > div > p:first-of-type {
    font-size: 32px;
    color: var(--default-dark-border);
}

.card:first-child > div > p {
    font-size: 36px;
}

.card {
    width: 410px;
    height: 250px;
    border: 1px solid var(--default-dark-border);
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) -15%, rgba(255, 255, 255, 0.16) 50%, rgba(0, 0, 0, 0.31) 115%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > p, .card > div > p {
    margin: 0;
}

.card-bank-name {
    font-size: 20px;
}

.card-balance {
    font-size: 20px;
    color: var(--default-dark-border);
    height: 20px;
}

.card-balance-amount {
    font-size: 24px;
    height: 24px;
}

.card-lower-part > p {
    font-size: 20px;
}

.card-lower-part {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-lower-part > img {
    height: 100%;
}

.wallet-add {
    position: absolute;
    top: calc(100% - 120px);
    left: calc(100% - 120px);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.wallet-add > img {
    height: 60px;
    width: 60px;
}

.card-add {
    background-color: var(--default-dark-background);
    position: absolute;
    top: calc(100% - 290px);
    left: calc(100% - 480px);
}


.card-add > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-add > div > button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.card-add > div > select {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
}

.card-add > input, .card-add > div > input {
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Goldman', sans-serif, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    width: 60%;
}

.card-add > input::placeholder, .card-add > div > input::placeholder {
    color: var(--default-dark-border);
    font-size: 24px;
}
/* WalletPage */


